* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 25px;
  padding-left: 35px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.top img {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(228, 220, 220);
  border-radius: 50%;
  padding: 5px;
}
.top button {
  font-size: 10px;
  border: 1px solid rgb(228, 220, 220);
  background-color: rgb(244, 244, 244);
  color: black;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.bottom button {
  font-size: 10px;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 1px solid rgb(228, 220, 220);
  background-color: rgba(240, 233, 233, 0.402);
  padding: 10px;
  cursor: pointer;
}
.bottom h3 {
  font-size: 20px;
  font-weight: bold;
}
.bottom p {
  font-size: 10px;
}

hr {
  margin-top: 20px;
  border: 0.5px solid rgb(238, 235, 235);
}
.middle h2 {
  margin-top: 20px;
  font-size: 20px;
}
span {
  font-size: 10px;
  color: gray;
}
.middle .tag {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.middle h1 {
  font-size: 35px;
}
.middle p {
  padding: 8px;
  border-radius: 5px;
  background-color: grey;
}
