* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
}
body {
  background-color: black;
}
.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 450px;
  margin: 16px auto;
  text-align: center;
  background-color: #3b3939;
}
.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 5px;
}
.card button:hover {
  background-color: #0056b3;
}
.card h1 {
  margin: 20px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 12px;
}
