* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}
h1 {
  margin: 20px auto;
  background-color: aqua;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #070707;
}
.container {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  gap: 20px;
}
input,
button {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #070707;
  font-size: 17.5px;
}
button:hover {
  cursor: pointer;
  background-color: blue;
}
