* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px;
}
