* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: white;
}
button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #070707;
  border-radius: 20px;
  background-color: #008cba;
}
