* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
button {
  cursor: pointer;
  padding: 10px;
  margin: 20px;
}
input {
  padding: 10px;
  margin: 20px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: teal;
  margin: 20px;
  border-radius: 10px;
}
.page1 {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page2 {
  background-color: #2e2e2e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page3 {
  background-color: #3e3e3e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
