* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  align-items: center;
  width: 100px;
  background-color: grey;
  color: white;
  width: fit-content;
  font-size: 48px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}
button {
  align-items: center;
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: lightgrey;
}
div {
  background-color: aquamarine;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}
